<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funcionários UNIP</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <style>
        
    </style>
</head>
<body>

    <header class="cabecalho">
        <h1 class="titulo"></h1>
        <div class="links">
            <a href="/listarFunc" class="link">Tabela Funcionários</a>
            <a href="/listarSolic" class="link">Tabela Solicitações</a>
            <a href="/criarFunc" class="link">Criar Funcionários</a>
        </div>
    </header>

<div class="pesquisa">
    <input type="text" id="searchInput" placeholder="Pesquisar por ID...">
    <button id="searchButton" class="botaoPesquisa">Pesquisar</button>
    
</div>
<table id="tableBody">
    <thead>
    <tr>
        <td>Selecionar</td>
        <td>ID</td>
        <td>Nome</td>
        <td>Solicitações</td>

    </tr>
    </thead>
    <tbody id="funcionarioTableBody">
    <tr th:each="funcionario : ${funcionarios}">
        <td><input type="radio" name="funcionario"></td>
        <td th:text="${funcionario.id}"></td>
        <td th:text="${funcionario.nome}"></td>
        <td th:text="${funcionario.solicitacao}"></td>
    </tbody>
</table>

    <div class="botoesFooter">
        <button id="editarFunc">Editar</button>
        <button id="apagarFunc">Apagar</button>
        <!-- <button>Atribuir Solicitação</button> -->
    </div>

    <script src="/js/pesquisa.js"></script> 
    <script src="/js/editar.js"></script>
    <script src="/js/apagar.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/criar.js"></script>
</body>
</html>