<!-- Não funciona -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funcionários UNIP</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <style>
        
    </style>
</head>
<body>

    <header class="cabecalho">
        <h1 class="titulo"></h1>
        <div class="links">
            <a href="/listarFunc" class="link">Tabela Funcionários</a>
            <a href="/listarSolic" class="link">Tabela Solicitações</a>
            <a href="/criarFunc" class="link">Criar Funcionários</a>
        </div>
    </header>

<div class="pesquisa">
    <input type="text" id="searchInput" placeholder="Pesquisar por ID...">
    <button id="searchButton" class="botaoPesquisa">Pesquisar</button>
    
</div>
<table id="funcionarioTableBody">
    <thead>
    <tr>
        <td>Selecionar</td>
        <td>ID</td>
        <td>Titulo</td>
        <td>Assunto</td>

    </tr>
    </thead>
    <tbody id="tabelaSolicitacoes">
        <!-- <tr th:each="solicitacao : ${listarSolicitacoes}"> -->
            <!-- <td><input type="radio" name="solicitacao"></td> -->
            <!-- <td th:text="${solicitacao.cod}"></td>
            <td th:text="${solicitacao.titulo}"></td>
            <td th:text="${solicitacao.assunto}"></td> -->
        <!-- </tr> -->
    </tbody>
</table>

    <div class="botoesFooter">
        <button id="editarFunc">Editar</button>
        <button id="apagarFunc">Apagar</button>
        <!-- <button>Atribuir Solicitação</button> -->
    </div>

    <script src="/js/pesquisa.js"></script> 
    <script src="/js/editar.js"></script>
    <script src="/js/apagar.js"></script>
    <script src="/js/listarSolicitacoes.js"></script>
</body>
</html>